// Colors
$primary-color : #0071E3;
$secondry-color: #252525;
$text-color: #ffffff;

// Fonts
$fontMain: 'SF Pro Display';


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;